
@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
@{
    SetAntiForgeryCookie();
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>收收</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="人类回收资源,资源服务人类">
    <link rel="stylesheet" href="~/lib/weui.min.css">
    @Styles.Render("~/Bundles/cus_css")
</head>
<body ontouchstart>
    <div class="weui_cells_title">订单信息</div>
    <div class="weui_panel weui_panel_access">
        <div id="order" class="weui_panel_bd">
            @foreach (var p in ViewBag.lst)
            {
                <a id="@p.Id" href="javascript:void(0);" class="weui_media_box weui_media_appmsg" p_n="@p.Prcd_Name">
                    <div class="weui_media_hd">
                        <img src="@p.Prcd_ImgPath" alt="">
                    </div>
                    <div class="weui_media_bd">
                        <h4 class="weui_media_title">@p.Prcd_Name</h4>
                        <div class="cart_info">
                            <div class="cart_num">
                                <em class="jian">-</em>
                                <input type="number" value="1" class="num" />
                                <em class="add">+</em>
                            </div>
                            <div class="goods_unit">个</div>
                        </div>
                    </div>
                </a>
            }
            @*<a id="1" href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">
                        <img src="~/images/icon_nav_actionSheet.png" alt="">
                    </div>
                    <div class="weui_media_bd">
                        <h4 class="weui_media_title">废旧电池</h4>
                        <div class="cart_info">
                            <div class="cart_num">
                                <em class="jian">-</em>
                                <input type="number" value="1" class="num" />
                                <em class="add">+</em>
                            </div>
                            <div class="goods_unit">个</div>
                        </div>
                    </div>
                </a>
                <a id="2" href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">
                        <img src="~/images/icon_nav_dialog.png" alt="">
                    </div>
                    <div class="weui_media_bd">
                        <h4 class="weui_media_title">废旧衣服</h4>
                        <div class="cart_info">
                            <div class="cart_num">
                                <em class="jian">-</em>
                                <input type="number" value="1" class="num" />
                                <em class="add">+</em>
                            </div>
                            <div class="goods_unit">件</div>
                        </div>
                    </div>
                </a>*@
        </div>
    </div>
    <div class="weui_cells_title">预约时间</div>
    <div class="weui_cells weui_cells_access">
        <a class="weui_cell open-popup" href="javascript:;" data-target="#full">
            <div class="weui_cell_bd weui_cell_primary">
                <p id="time">2012-12-12 12时</p>
            </div>
            <span class="weui_cell_ft"></span>
        </a>
    </div>
    <div class="weui_cells_title">收货地址</div>
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <input id="address" class="weui_input" type="text" placeholder="请输入地址" maxlength="100">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <textarea id="remark" class="weui_textarea" placeholder="请输入备注" rows="3" maxlength="200"></textarea>
                <div class="weui_textarea_counter"><span id="length">0</span>/200</div>
            </div>
        </div>
    </div>
    <div id="submit">
        <a href="javascript:;" class="weui_btn weui_btn_primary">确定</a>
    </div>
    <div id="full" class='weui-popup-container'>
        <div class="weui-popup-overlay"></div>
        <div class="weui-popup-modal">
            <div id="app_type" class="weui_cells weui_cells_radio">
                <label class="weui_cell weui_check_label" for="x11">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>预约时间</p>
                    </div>
                    <div class="weui_cell_ft">
                        <input type="radio" class="weui_check" name="radio1" id="x11" value="0">
                        <span class="weui_icon_checked"></span>
                    </div>
                </label>
                <label class="weui_cell weui_check_label" for="x12">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>周六周日</p>
                    </div>
                    <div class="weui_cell_ft">
                        <input type="radio" class="weui_check" name="radio1" id="x12" value="1" checked="checked">
                        <span class="weui_icon_checked"></span>
                    </div>
                </label>
            </div>
            <div class="weui_cells_title">设置时间</div>
            <div id="time_list" class="weui_cells weui_cells_form">
                <div class="weui_cells weui_cells_access" style="display:none">
                    <a class="weui_cell" href="javascript:;">
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" id="appointment" type="text" value="2012-12-12 12时">
                        </div>
                        <span class="weui_cell_ft"></span>
                    </a>
                </div>
                <div class="weui_cells weui_cells_access">
                    <a class="weui_cell" href="javascript:;">
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" id="weekend" type="text" value="14 时 至 15 时">
                        </div>
                        <span class="weui_cell_ft"></span>
                    </a>
                </div>
            </div>
            <div id="set_time" style="padding-top:30px">
                <a href="javascript:;" class="weui_btn weui_btn_primary">确定</a>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery-2.1.4.js"></script>
    <script src="~/lib/fastclick.js"></script>
    <script>
        $(function () {
            FastClick.attach(document.body);
            $("#submit").click(function () {
                var error = [];
                var array = [];
                var address = $.trim($("#address").val());
                var remark = $.trim($("#remark").val());
                var time = $("#time").text();
                $("#order a").each(function () {
                    var obj = $(this).find("input");
                    var id = $(this).attr("id");
                    var prod_name = $(this).attr("p_n");

                    var value = $.trim(obj.val());
                    if (value == "") {
                        error.push("订单数不能为空！");
                    }
                    else if (value == "0") {
                        error.push("订单数不能为零！");
                    }
                    else {
                        array.push('{"Id":' + id + ',"Value":' + value + ',"Prod_Name":"' + prod_name + '"}');
                    }
                });
                if (address == "") {
                    error.push("请输入收货地址！");
                }
                if (error.length == 0) {
                    var json = '{"Order":[' + array.toString() + '],"Address":"' + address + '","Remark":"' + remark + '","Time":"' + time + '"}';
                    $.ajax({
                        url: '../Order/CreateOrder', type: 'POST',
                        dataType: 'json',
                        data: JSON.parse(json),
                        beforeSend: function (xhr) {
                            console.log(xhr);
                            console.log('发送前');
                            $.showLoading("正在处理...");
                        },
                        success: function (data, textStatus, jqXHR) {
                            console.log(data)
                            console.log(textStatus)
                            console.log(jqXHR);
                            if (data.Code == 200)
                            {
                                var url = "../Info/Index";
                                window.location.href = url;
                                $.showLoading();
                            }else
                            {
                                error.push(data.Msg);
                            }
                        },
                        error: function (xhr, textStatus) {
                            console.log('错误')
                            console.log(xhr)
                            console.log(textStatus)
                        },
                        complete: function () {
                            console.log('结束');
                            $.hideLoading();
                        }
                    });


                }
                else {
                    $.toptip(error[0], 'warning');
                }
            });
            $("#app_type label").each(function (i) {
                $(this).click(function () {
                    $("#time_list .weui_cells").each(function (j) {
                        if (i == j) {
                            $(this).show();
                        }
                        else {
                            $(this).hide();
                        }
                    });
                });
            });
            $("#set_time").click(function () {
                var index = $("input[type='radio']:checked").val();
                var obj = $("#time");
                if (index == 0) obj.text($("#appointment").val());
                else if (index == 1) obj.text("周六周日" + $("#weekend").val());
                $.closePopup();
            });
            $('#remark').bind('input propertychange', function () {
                $("#length").text($(this).val().length);
            });
            // 加的效果
            $(".add").click(function () {
                var n = $(this).prev().val();
                var num = parseInt(n) + 1;
                if (num == 0) { return; }
                $(this).prev().val(num);
            });
            // 减的效果
            $(".jian").click(function () {
                var n = $(this).next().val();
                var num = parseInt(n) - 1;
                if (num == 0) { return }
                $(this).next().val(num);
            });
        });
    </script>
    <script src="~/js/jquery-weui.js"></script>
    <script>
        $("#appointment").datetimePicker({
            times: function () {
                return [
                  {
                      values: (function () {
                          var hours = [];
                          for (var i = 0; i < 24; i++) hours.push(i > 9 ? i : '0' + i);
                          return hours;
                      })()
                  },
                  {
                      divider: true,
                      content: '时'
                  }
                ];
            },
            onChange: function (picker, values, displayValues) {
                console.log(values);
            },
        });
        $("#weekend").picker({
            title: "请选择",
            cols: [
              {
                  textAlign: 'center',
                  values: ['8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']
              }, {
                  textAlign: 'center',
                  values: ['时']
              }, {
                  textAlign: 'center',
                  values: ['至']
              },
              {
                  textAlign: 'center',
                  values: ['8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']
              }, {
                  textAlign: 'center',
                  values: ['时']
              }
            ]
        });
    </script>
</body>
</html>
